<h1> <%= @event.title %> </h1>

<div>Image goes here</div>

<%= link_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %>
<%= link_to "Back to Events Page", events_path(@event) %>
