<h1> <%= @event %> </h1>

<%= image_tag @event.image.url(:medium) %>

<%= link_to "Delete Event", events_path, method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %>
<%= link_to "Back to Events Page", events_path(@event) %>
