<h1> <%= @event.title %> </h1>

<div>image goes here</div>

<%= link_to "Delete Event", events_path, method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %>
<%= link_to "Back to Events Page", events_path(@event) %>
