// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: url(http://i.imgur.com/oJUqQum.png?2) no-repeat center fixed;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Slackey';
  color: yellow;
  text-shadow: #039 0px 2px 2px;
}


